/* ---------------------------------------------------------------------------- */
/* --- 4. CONTENT
/* ----------------------------------------------------------------------------- */

#content {
	position: relative;
    overflow: hidden;

    @media #{$screen-md} {
        margin-top: $header-mobile-height;
    }
}

.page-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@import "_content/_blog.scss";
@import "_content/_features.scss";
@import "_content/_menu.scss";
@import "_content/_other.scss";
@import "_content/_page-title.scss";
@import "_content/_sections.scss";


