@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение за забравена парола";
}

<h4>@ViewData["Title"]</h4>
<p>
    Моля, проверете имейла си, за да зададете нова парола.
</p>

