@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забравихте паролата си?";
}
<div class="section">
    <h3>@ViewData["Title"]</h3>
    <h6>Въведете вашият имейл.</h6>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email">Имейл</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary"><span>Изпрати</span></button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="~/Views/Shared/Partials/_ValidationScriptsPartial.cshtml" />
}
