@page
@model LockoutModel
@{
    ViewData["Title"] = "Заключен";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Title -->
<div class="page-title bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 push-lg-4">
                <h3 class="mb-2">@ViewData["Title"]</h3>
                <h4 class="mb-0">Акаунтът беше заключен поради 5 неуспешни опита за вход. Моля опитайте по-късно.</h4>
            </div>
        </div>
    </div>
