@page
@model LockoutModel
@{
    ViewData["Title"] = "Заключен";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Акаунтът беше заключен поради 5 неуспешни опита за вход. Моля опитайте по-късно.</p>
</header>
