@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Потвърждение за подновяване на парола";
}

<h3>@ViewData["Title"]</h3>
<p>
    Вашата парола беше подновена. Моля <a asp-page="./Login"><b>кликнете тук за да влезете</b></a>.
</p>
