@model CreateAddonInputModel
@{
    ViewData["Title"] = "Създай добавка";
}
<!-- Page Title -->
<div class="page-title bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 push-lg-4">
                <h3 class="mb-0 font-italic">Създай добавка</h3>
            </div>
        </div>
    </div>
</div>
<!-- Page Content -->
<div class="container">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" value="" class="btn btn-primary"><span>Създай</span></button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="~/Views/Shared/Partials/_ValidationScriptsPartial.cshtml" />
}