 <!-- Footer -->
<footer id="footer" class="bg-dark dark">

    <div class="container">
        <!-- Footer 2nd Row -->
        <div class="footer-second-row row align-items-center">
            <div class="col-lg-4 text-center text-md-left">
                <span class="text-sm text-muted">&copy; @DateTime.Now.Year - LoWaiLo<br>Made with love by TeMePyT.</span>
            </div>
            <div class="col-lg-4 text-center">
                <a href="index.html"><img src="assets/img/logo-light.svg" alt="" width="88" class="mt-5 mb-5"></a>
            </div>
            <div class="col-lg-4 col-md-6 text-center text-md-right">
                <a href="https://www.facebook.com/pages/%D0%9B%D0%BE-%D0%A3%D0%B0%D0%B9-%D0%9B%D0%BE/137461933116781" class="icon icon-social icon-circle icon-sm icon-facebook"><i class="ti ti-facebook"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-google"><i class="ti ti-google"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-twitter"><i class="ti ti-twitter"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-instagram"><i class="ti ti-instagram"></i></a>
            </div>
        </div>
    </div>

    <!-- Back To Top -->
    <a href="#" id="back-to-top"><i class="ti ti-angle-up"></i></a>

</footer>
<!-- Footer / End -->