 <!-- Header -->
    <header id="header" class="light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- Logo -->
                    <div class="module module-logo dark">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo-light-red.png" alt="" width="88">
                        </a>
                    </div>
                </div>
                <div class="col-md-5">
                    <!-- Navigation -->
                    <nav class="module module-navigation  mr-4">
                        <ul id="nav-main" class="nav nav-main">
                            <li><a asp-controller="Home" asp-action="Index">Начало</a> </li>
                            <li class="has-dropdown">
                                <a href="#">За нас</a>
                                <div class="dropdown-container">
                                    <ul class="dropdown-mega">
                                        <li><a asp-controller="Home" asp-action="About">За нас</a></li>
                                        <li><a href="page-services.html">Services</a></li>
                                        <li><a href="page-gallery.html">Gallery</a></li>
                                        <li><a href="page-reviews.html">Reviews</a></li>
                                        <li><a href="page-faq.html">FAQ</a></li>
                                    </ul>
                                    <div class="dropdown-image">
                                        <img src="~/img/photos/dropdown-about.jpg" alt="">
                                    </div>
                                </div>
                            </li>
                            <li> <a asp-controller="Menu" asp-action="Menu">Меню</a></li>
                            <li><a href="page-offers.html">Offers</a></li>
                            <li><a asp-controller="Home" asp-action="Contact">За контакти</a></li>
                            <li class="has-dropdown">
                                <a href="#">More</a>
                                <div class="dropdown-container">
                                    <ul class="dropdown-mega">
                                        <li><a href="page-offer-single.html">Offer single</a></li>
                                        <li><a href="page-product.html">Product</a></li>
                                        <li><a href="book-a-table.html">Book a table</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="confirmation.html">Confirmation</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-sidebar.html">Blog + Sidebar</a></li>
                                        <li><a href="blog-post.html">Blog Post</a></li>
                                        <li><a href="documentation.html">Documentation</a></li>
                                    </ul>
                                    <div class="dropdown-image">
                                        <img src="~/img/photos/dropdown-more.jpg" alt="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2">
                    <a href="#" class="module module-cart right" data-toggle="panel-cart">
                        <span class="cart-icon">
                            <i class="ti ti-shopping-cart"></i>
                            <span class="notification">2</span>
                        </span>
                        <span class="cart-value">$32.98</span>
                    </a>
                </div>
                <div class="col-md-1">
                    <div class="module left">
                        <a href="menu-list-navigation.html" class="btn btn-outline-secondary"><span>Поръчай</span></a>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="module right">
                        @await this.Html.PartialAsync("~/Views/Shared/Partials/_LoginPartial.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- Header / End -->
<!-- Header -->
<header id="header-mobile" class="light">

    <div class="module module-nav-toggle">
        <a href="#" id="nav-toggle" data-toggle="panel-mobile"><span></span><span></span><span></span><span></span></a>
    </div>
    <div class="module module-logo">
        @await this.Html.PartialAsync("~/Views/Shared/Partials/_LoginPartial.cshtml")
    </div>
    <a href="#" class="module module-cart" data-toggle="panel-cart">
        <i class="ti ti-shopping-cart"></i>
        <span class="notification">2</span>
    </a>
</header>
<!-- Header / End -->