@model CreateReviewInputModel
<!-- Modal / Review -->
<div class="modal fade" id="reviewModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-lg dark bg-dark">
                <div class="bg-image"><img src="~/img/photos/modal-review.jpg" alt=""></div>
                <h4 class="modal-title">Оставете мнение!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ti-close"></i></button>
            </div>
            <div class="modal-body">
                <form id="review" method="post" action="Create">
                    <div class="form-group">
                        <textarea asp-for="Content" cols="30" rows="6" class="form-control" placeholder="Напишете вашето ревю тук..."></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Вашата оценка:</label>
                        <div class="rate rate-lg rating mb-2" id="rate"><i class="fa fa-star" data-value="5"></i><i class="fa fa-star" data-value="4"></i><i class="fa fa-star" data-value="3"></i><i class="fa fa-star" data-value="2"></i><i class="fa fa-star" data-value="1"></i></div>
                        <input asp-for="Rating" type="hidden" name="Rating" id="Rating" value="0" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary"><span>Добави</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

