@model ShoppingCartMenuViewModel
<div class="col-md-2">
    <a href="#" class="module module-cart right" data-toggle="panel-cart">
        <span class="cart-icon">
            <i class="ti ti-shopping-cart"></i>
            <span class="notification">@Model.Count</span>
        </span>
        <span class="cart-value">@Model.TotalPrice лв.</span>
    </a>
</div>