@{
    ViewData["Title"] = "За нас";
}

<!-- Page Title -->
<div class="page-title border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 push-lg-5">
                <h1 class="mb-0 font-italic">@ViewData["Title"]</h1>
                <h4 class="text-muted mb-0 font-italic">Китайски ресторант Ло Уай Ло</h4>
            </div>
        </div>
    </div>
</div>

<!-- Section -->
<section class="section section-bg-edge">

    <div class="image left bottom col-md-7">
        <div class="bg-image"><img src="/img/photos/bg-chef.jpg" alt=""></div>
    </div>

    <div class="container">
        <div class="col-lg-5 push-lg-5 col-md-9 push-md-3">
            <div class="rate mb-5 rate-lg"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i></div>
            <h2>Най добрата храна в Плевен!</h2>
            <strong>Здравейте!</strong>
            <p class="lead">
                Добре дошли в сайта на китайски ресторант "Ло Уай Ло". Щом сте тук значи сте любители на неповторимия вкус на китайската храна.
                Ако все още не сте привърженици на най-широко разпространената азиатска кухня, ще ви помогнем да се ориентирате сред многообразието от вкусове и ястия, които нашия ресторант може да ви предложи.
            </p>
            <p>
                Независимо дали сте наши гости или сте си поръчали "за вкъщи", гарантираме автентичен и естествен вкус на всяко наше блюдо.
                Искаме да ви споделим, че всички продукти за нашата кухня са с гарантирано качество.
                Дори китайските ни продукти се доставят директно от Китай.
            </p>
            <p>
                Спецификата на китайската храна се дължи на процеса на обработване на хранителните продукти, а не толкова на необикновенните съчетания на вкусовете.
                Само при строго спазване на основните принципи на готвене, които в китайската кухня имат значението на закони, може да се постигне колорита и екзотичния вкус на китайската кухня.
                Ако желаете да научите и нещо интересно за традициите и различните китайски кулинарни школи може да го направите от <b><a class="text-danger"href="#">тук</a></b>.
            </p>
            <p>
                Ресторантът разполага с 80 места организирани на две нива, лятна градина, бързо и качествено обслужване и най-вече с вкусно приготвена храна.
                "Ло Уай Ло" бе един от първите китайски ресторанти които отвориха врати в Плевен през далечната 2000 г.
            </p>
            <p>
                От името на целия ни екип ви пожелаваме 
                <strong>"Добър Апетит" !</strong>
            </p>
            <h6>Чу И, Управител</h6>
            <h4>Какво казват хората за нас?</h4>
            <a asp-controller="Reviews" asp-action="Index" class="btn btn-outline-info"><span>Вижте мненията</span></a>
        </div>
    </div>
</section>

