
@{
    ViewData["Title"] = "Потвърждение";
}

<!-- Section -->
<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 push-lg-4">
                <span class="icon icon-xl icon-success"><i class="ti ti-check-box"></i></span>
                <h1 class="mb-2">Благодарим ви за вашата поръчка!</h1>
                <h4 class="text-muted mb-5">Ще я получите в най-кратки срокове.</h4>
                <a href="menu-list-navigation.html" class="btn btn-outline-secondary"><span>Проследете поръчката</span></a>
            </div>
        </div>
    </div>
</section>
