@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Управление на профила";
}

    <div class="page-title bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 push-lg-4">
                    <h3 class="mb-0">Управление на профила</h3>
                    <h4 class="text-muted mb-0">Сменете вашите настройки</h4>
                </div>
            </div>
        </div>
    </div>
    <section class="section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-md-8 push-md-1">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
@section Scripts {
    @RenderSection("Scripts", required: false)
}