@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Изтриване на личните данни";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <a class="fa fa-warning"></a>
        Вашият профил съдържа лични данни, които сте ни предоставили. Тази страница ви позволява да изтеглите или изтриете тези данни.
        <strong>Изтриването на тези данни ще премахне завинаги профила ви и това не може да бъде възстановено.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password">Парола</label>
                <input asp-for="Input.Password" class="form-control" required>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit"><span>Изтрий</span></button>
    </form>
</div>

@section Scripts {
    <partial name="~/Views/Shared/Partials/_ValidationScriptsPartial.cshtml" />
}