<!-- Header -->
<header id="header" class="light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- Logo -->
                <div class="module module-logo dark">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/img/logo-light-red.png" alt="" width="88">
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <!-- Navigation -->
                <nav class="module module-navigation  mr-4">
                    <ul id="nav-main" class="nav nav-main">
                        <li>
                            <a asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">Поръчки</a>
                            <div class="dropdown-container">
                                <ul class="dropdown-mega">
                                    <li><a asp-controller="Orders" asp-action="Shipped">Изпратени</a></li>
                                    <li><a asp-controller="Orders" asp-action="History">История</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">Меню</a>
                            <div class="dropdown-container">
                                <ul>
                                    <li class="has-dropdown">
                                        <a href="#">Категории</a>
                                        <ul>
                                            <li><a asp-controller="Category" asp-action="All">Всички</a></li>
                                            <li><a asp-controller="Category" asp-action="Create">Създай категория</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Продукти</a>
                                        <ul>
                                            <li><a asp-controller="Products" asp-action="All">Всички</a></li>
                                            <li><a asp-controller="Products" asp-action="Create">Създай продукт</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Добавки</a>
                                        <ul>
                                            <li><a asp-controller="Addons" asp-action="All">Всички</a></li>
                                            <li><a asp-controller="Addons" asp-action="Create">Създай добавка</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">Резервации</a>
                            <div class="dropdown-container">
                                <ul class="dropdown-mega">
                                    <li><a href="#">Всички</a></li>
                                    <li><a href="#">История</a></li>
                                </ul>
                            </div>
                        </li>
                        <li> <a asp-area="" asp-controller="Home" asp-action="Index">Към сайта</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header / End -->
<!-- Header -->
<header id="header-mobile" class="light">

    <div class="module module-nav-toggle">
        <a href="#" id="nav-toggle" data-toggle="panel-mobile"><span></span><span></span><span></span><span></span></a>
    </div>
    <div class="module module-logo">
        @await this.Html.PartialAsync("~/Views/Shared/Partials/_LoginPartial.cshtml")
    </div>
</header>
<!-- Header / End -->