 <!-- Header -->
    <header id="header" class="light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- Logo -->
                    <div class="module module-logo dark">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo-light-red.png" alt="" width="88">
                        </a>
                    </div>
                </div>
                <div class="col-md-5">
                    <!-- Navigation -->
                    <nav class="module module-navigation  mr-4">
                        <ul id="nav-main" class="nav nav-main">
                            <li><a asp-controller="Home" asp-action="Index">Начало</a> </li>
                            <li class="has-dropdown">
                                <a href="#">За нас</a>
                                <div class="dropdown-container">
                                    <ul class="dropdown-mega">
                                        <li><a asp-controller="Home" asp-action="About">За нас</a></li>
                                        <li><a href="#">Услуги</a></li>
                                        <li><a href="#">Запази маса</a></li>
                                        <li><a href="#">Галрия</a></li>
                                        <li><a asp-controller="Reviews" asp-action="Index">Мнения</a></li>
                                        <li><a href="#">FAQ</a></li>
                                    </ul>
                                    <div class="dropdown-image">
                                        <img src="~/img/photos/dropdown-about.jpg" alt="">
                                    </div>
                                </div>
                            </li>
                            <li> <a asp-controller="Menu" asp-action="Index">Меню</a></li>
                            <li><a asp-controller="Home" asp-action="Contact">За контакти</a></li>
                            @if (User.IsInRole(GlobalConstants.AdministratorRoleName.ToString()) || User.IsInRole(GlobalConstants.MerchantRoleName.ToString()))
                            {
                                <li><a asp-area="Administrator" asp-controller="Home" asp-action="Index" style="color:red">Администрация</a></li>
                            }
                        </ul>
                    </nav>
                </div>
              @(await Component.InvokeAsync("NavbarBasketComponent"))
                <div class="col-md-1">
                    <div class="module left">
                        <a asp-controller="Menu" asp-action="Index" class="btn btn-outline-secondary"><span>Поръчай</span></a>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="module right">
                        @await this.Html.PartialAsync("~/Views/Shared/Partials/_LoginPartial.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- Header / End -->
<!-- Header -->
    <header id="header-mobile" class="light">

        <div class="module module-nav-toggle">
            <a href="#" id="nav-toggle" data-toggle="panel-mobile"><span></span><span></span><span></span><span></span></a>
        </div>
        <div class="module module-logo">
            @await this.Html.PartialAsync("~/Views/Shared/Partials/_LoginPartial.cshtml")
        </div>
        @(await Component.InvokeAsync("NavbarBasketPanelComponent"))
    </header>
<!-- Header / End -->